<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Administrativo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h2>Panel Administrativo</h2>

    <p>Bienvenido administrador, {{ session["username"] }}</p>

    <ul class="menu">
        <li><a href="{{ url_for('rutina.listar_rutinas') }}">Administrar rutinas</a></li>
        <li><a href="{{ url_for('ejercicio.listar_ejercicios') }}">Administrar ejercicios</a></li>
        <li><a href="{{ url_for('rutina_ejercicio.listar_asignaciones') }}">Asignar ejercicios a rutinas</a></li>
        <li><a href="{{ url_for('comida.listar_comidas') }}">Administrar comidas</a></li>
    </ul>

    <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>

    </div>
</body>
</html>